div.thing{
	font-size:1.2em;
}
.user_map {
  height: 600px;
  width: 100%;
  padding: 0; margin: 0;
}
.ucp_map{
  height: 200px;
  width: 100%;
}

.olControlAttribution{
	bottom: 2px !important;
}
#map_menu{
	z-index: 60;
	position: absolute;
	display: none;
	font-size: 10px;
	width: 150px;
	background-color:#fff;
	border-radius:6px;
	border:1px #ccc solid;
	padding:4px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
#map_menu li{
	list-style: none;
}
#map_menu li a{
	padding:2px 0;
	display:block;
}
#map_menu li a:hover{
	background-color:#CADCEB
}
li.menu_close{
	margin-top: 5px;
	border-top: 1px #ccc solid;
}
.icon-usermap { background-image: url("./images/icon_usermap.gif"); }

.layersDiv{
    background-color: rgba(0, 60, 136, 0.5) !important;
    color: #000;
	font-size: 12px;
	border-radius: 5px;
	margin:5px !important;
	margin-right:0 !important;

}
.maximizeDiv{
	width:14px !important;
	height:14px !important;
	background-color: rgba(0, 60, 136, 0.5) !important;
	font-size:14px;
	border:1px solid #fff;
	padding:1px;
	text-align-last: center;
}
.maximizeDiv img{display:none !important;}

.olControlLayerSwitcher{
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2) !important;
}
.baseLayersDiv label, .dataLayersDiv label {
	color: #fff !important;

}

#searchresult{
	position: absolute;
	right:0;
	top:40px;
	clear: both;
	border:1px solid #ccc;
	border-radius: 6px;
	padding:10px;
	z-index: 9999;
	background: #fff;
	line-height: 1.5em;
	font-size: 1.2em;
	display: none;
	float:right;
}
#mapsearchform{
	float:right;
	font-size: 1.1em;
	margin-top:20px;

}

@media (max-width: 700px) {
	#map_menu{
		position: fixed;
		top:auto !important;
		bottom:0 !important;
		right:0 !important;
		left:0 !important;
		width:100%;
		font-size:2em;
		margin:0;
		border-radius:0;
	}
	.maximizeDiv{
		display:none;
	}
}