<!-- INCLUDE overall_header.html -->
<div>
	<h2>{THING_TITLE}</h2>

	<div class="post has-profile bg1">
		<div class="inner">
			<dl class="postprofile">
				<dd><div id="map" class="ucp_map"></div></dd>

				<dd><strong>{L_DISTANCE}{L_COLON}</strong> {DISTANCE}</dd>
				<dd><strong>{L_LON}{L_COLON}</strong> {USERMAP_LON}</dd>
				<dd><strong>{L_LAT}{L_COLON}</strong> {USERMAP_LAT}</dd>
			</dl>
			<div class="postbody">

			<!-- IF S_EDIT or S_DELETE -->
			<ul class="post-buttons">
				<!-- IF S_EDIT -->
				<li>
					<a href="{U_EDIT}" title="{L_EDIT}" class="button icon-button edit-icon"><span>{L_EDIT}</span></a>
				</li>
				<!-- ENDIF -->
				<!-- IF S_DELETE -->
				<li>
					<a href="{U_DELETE}" title="{L_DELETE}" class="button icon-button delete-icon"><span>{L_DELETE}</span></a>
				</li>
				<!-- ENDIF -->
			</ul>
			<!-- ENDIF -->

			<div class="content">
			{THING_TEXT}
			</div>
			</div>
		</div>
	</div>
</div>
<!-- IF A_COMMENT -->
<a href="{U_COMMENT}" class="button icon-button reply-icon" title="{L_COMMENT}">{L_COMMENT}</a>
<!-- ENDIF -->


<p class="jumpbox-return"><a href="{U_USERMAP}" class="left-box arrow-left" accesskey="r">{L_BACK_TO_USERMAP}</a></p>
<br>
<!-- INCLUDE overall_footer.html -->