<!-- INCLUDECSS @tas2580_usermap/style.css -->
<!-- INCLUDECSS @tas2580_usermap/openlayers_style.css -->
<!-- IF S_IN_USERMAP -->
	<!-- <script type="text/javascript" src="https://www.openlayers.org/api/OpenLayers.js"></script> -->
	<script type="text/javascript" src="./../../ext/tas2580/usermap/styles/all/template/OpenLayers.js"></script>
	<!-- IF MAP_TYPE == 'osm' -->
		<script type="text/javascript" src="https://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
	<!-- ENDIF -->
<!-- ENDIF -->