<!-- IF S_IN_USERMAP -->
<!-- IF MAP_TYPE == 'osm' -->
	<!-- INCLUDEJS @tas2580_usermap/osmscript.js -->
	<script type="text/javascript">
	// <![CDATA[
	function display_map() {
		OpenLayers.Lang.setCode('{S_USER_LANG}');
		usermap.drawmap({USERMAP_LON}, {USERMAP_LAT}, {USERMAP_ZOOM}, {USERMAP_CONTROLS});
		<!-- IF A_USERMAP_ADD or A_USERMAP_SEARCH -->
			$('#map').css('cursor', 'crosshair');
			map.addControl(click);
			click.activate();
		<!-- ENDIF -->
	}

	function reload_marker(Alon, Alat, Blon, Blat) {
		layer_markers.clearMarkers();
		<!-- IF U_GET_MARKER -->
		$.get('{U_GET_MARKER}?alon='+Alon+'&alat='+Alat+'&blon='+Blon+'&blat='+Blat, function(returndata){
			if($.isArray(returndata)){
				returndata.forEach(function(element, index, array) {
					var marker = usermap.generateMarker('{MARKER_PATH}/'+element.marker);
					usermap.addMarker(layer_markers, parseFloat(element.lon), parseFloat(element.lat), element.title+'<br>{L_DISTANCE}{L_COLON} '+element.distance, marker);
				});
			} else {
				phpbb.alert('{L_ERROR}', returndata);
			}
		});
		<!-- ELSE -->
		var marker = usermap.generateMarker('{MARKER_PATH}/{USERMAP_MARKER}');
		usermap.addMarker(layer_markers, {USERMAP_LON}, {USERMAP_LAT}, '{USERNAME}', marker);
		<!-- ENDIF -->
	}

	$('document').ready(display_map);
// ]]>
	</script>
<!-- ENDIF -->

<!-- IF MAP_TYPE == 'google' -->
<!-- INCLUDEJS @tas2580_usermap/osmscript.js -->
	<script type="text/javascript">

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: {USERMAP_LAT}, lng: {USERMAP_LON}},
			zoom: {USERMAP_ZOOM}
		});
		  // Generate markers
		<!-- BEGIN group_list -->
			var marker_{group_list.GROUP_ID} = '{MARKER_PATH}/{group_list.MARKER}';
		<!-- END group_list -->
		<!-- BEGIN user_list -->
			var marker = new google.maps.Marker({
				position: {lat: {user_list.LAT}, lng: {user_list.LON}},
				map: map,
				title: '{user_list.USERNAME_SIMPLE}',
				icon: marker_{user_list.GROUP_ID}
			});
		<!-- END user_list -->
	}
	</script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key={GOOGLE_API_KEY}&callback=initMap">
	</script>
<!-- ENDIF -->
<!-- ENDIF -->
