<!-- IF S_IN_USERMAP -->
<!-- INCLUDEJS @tas2580_usermap/usermap.js -->
	<script type="text/javascript">
	var map;
	var BingAPIKey = '{BING_API_KEY}';

	function display_map() {
		usermap.load();
		usermap.position_marker = usermap.generateMarker('{MARKER_PATH}/position_marker.png');


		map.addControl(new OpenLayers.Control.LayerSwitcher({'dataLayersDiv':false}));
		layerSwitcher = map.getControlsByClass("OpenLayers.Control.LayerSwitcher")[0];
		$('#OpenLayers_Control_MaximizeDiv').html('+');
		layerSwitcher.baseLbl.innerText = "{L_SELECT_MAP}";

		<!-- BEGIN mapsrow -->
		usermap.add_layer('{mapsrow.NAME}', '{mapsrow.DISPLAY_NAME}', {mapsrow.DEFAULT});
		<!-- END mapsrow -->

		usermap.jumpTo({USERMAP_LON}, {USERMAP_LAT}, {USERMAP_ZOOM});

		<!-- IF A_USERMAP_ADD or A_USERMAP_SEARCH -->
			$('#map').css('cursor', 'crosshair');
			map.addControl(click);
			click.activate();
		<!-- ENDIF -->
	}

	function reload_marker(Alon, Alat, Blon, Blat) {
		<!-- IF U_GET_MARKER -->
		$.get('{U_GET_MARKER}?alon='+Alon+'&alat='+Alat+'&blon='+Blon+'&blat='+Blat, function(returndata){
			if($.isArray(returndata)){
				/*layer_markers.clearMarkers();*/
				returndata.forEach(function(element, index, array) {
					var marker = usermap.generateMarker('{MARKER_PATH}/'+element.marker);
					usermap.addMarker(element.id, layer_markers, parseFloat(element.lon), parseFloat(element.lat), element.text, marker);
				});
			} else {
				phpbb.alert('{L_ERROR}', returndata);
			}
		});
		<!-- ELSE -->
		var marker = usermap.generateMarker('{MARKER_PATH}/{USERMAP_MARKER}');
		usermap.addMarker('marker', layer_markers, {USERMAP_LON}, {USERMAP_LAT}, '{USERNAME}', marker);
		<!-- ENDIF -->
	}
	$('document').ready(display_map);
	</script>
	<!-- INCLUDEJS @tas2580_usermap/OpenStreetMap.js -->
	<!-- IF GOOGLE_API_KEY -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.5&amp;key={GOOGLE_API_KEY}"></script>
	<!-- ENDIF -->
<!-- ENDIF -->