<!-- IF S_IN_USERMAP -->
<!-- INCLUDEJS @tas2580_usermap/usermap.js -->
	<script type="text/javascript">
	var map;


	function display_map() {
		usermap.load();
		usermap.position_marker = usermap.generateMarker('{MARKER_PATH}/position_marker.png');

		<!-- IF GOOGLE_API_KEY or BING_API_KEY -->
			map.addControl(new OpenLayers.Control.LayerSwitcher({'dataLayersDiv':false}));
			layerSwitcher = map.getControlsByClass("OpenLayers.Control.LayerSwitcher")[0];
			$('#OpenLayers_Control_MaximizeDiv').html('+');
			layerSwitcher.baseLbl.innerText = "{L_SELECT_MAP}";
		<!-- ENDIF -->
		layer_markers = new OpenLayers.Layer.Markers("{L_MARKER}", {
			projection: new OpenLayers.Projection("EPSG:4326"),
			visibility: true,
			displayInLayerSwitcher: false
		});
		layer_position_markers = new OpenLayers.Layer.Markers("{L_MARKER}", {
			projection: new OpenLayers.Projection("EPSG:4326"),
			visibility: true,
			displayInLayerSwitcher: false
		});
		var osm_mapnik = new OpenLayers.Layer.OSM.Mapnik("{L_OSM_MACKNICK}");
		map.addLayers([layer_markers, layer_position_markers, osm_mapnik]);
		<!-- IF GOOGLE_API_KEY -->
			var google_terrain = new OpenLayers.Layer.Google("{L_GOOGLE_TERRAIN}", {type: google.maps.MapTypeId.TERRAIN, numZoomLevels: 20});
			var google_roadmap = new OpenLayers.Layer.Google("{L_GOOGLE_ROADMAP}", {type: google.maps.MapTypeId.ROADMAP, numZoomLevels: 20});
			var google_hybrid = new OpenLayers.Layer.Google("{L_GOOGLE_HYBRID}", {type: google.maps.MapTypeId.HYBRID, numZoomLevels: 20});
			var google_satellite = new OpenLayers.Layer.Google("{L_GOOGLE_SATELLITE}", {type: google.maps.MapTypeId.SATELLITE, numZoomLevels: 20});
			map.addLayers([google_terrain, google_roadmap, google_hybrid, google_satellite]);
		<!-- ENDIF -->
		<!-- IF BING_API_KEY -->
			var bing_road = new OpenLayers.Layer.Bing({name: "{L_BING_ROAD}", key: '{BING_API_KEY}', type: "Road"});
			var bing_hybrid = new OpenLayers.Layer.Bing({name: "{L_BING_HYBRID}", key: '{BING_API_KEY}', type: "AerialWithLabels"});
			var bing_aerial = new OpenLayers.Layer.Bing({name: "{L_BING_AERIAL}", key: '{BING_API_KEY}', type: "Aerial"});
			map.addLayers([bing_road, bing_hybrid, bing_aerial]);
		<!-- ENDIF -->
		map.setBaseLayer({DEFAULT_MAP});
		usermap.jumpTo({USERMAP_LON}, {USERMAP_LAT}, {USERMAP_ZOOM});

		<!-- IF A_USERMAP_ADD or A_USERMAP_SEARCH -->
			$('#map').css('cursor', 'crosshair');
			map.addControl(click);
			click.activate();
		<!-- ENDIF -->
	}

	function reload_marker(Alon, Alat, Blon, Blat) {
		layer_markers.clearMarkers();
		<!-- IF U_GET_MARKER -->
		$.get('{U_GET_MARKER}?alon='+Alon+'&alat='+Alat+'&blon='+Blon+'&blat='+Blat, function(returndata){
			if($.isArray(returndata)){
				returndata.forEach(function(element, index, array) {
					var marker = usermap.generateMarker('{MARKER_PATH}/'+element.marker);
					usermap.addMarker(layer_markers, parseFloat(element.lon), parseFloat(element.lat), element.text, marker);
				});
			} else {
				phpbb.alert('{L_ERROR}', returndata);
			}
		});
		<!-- ELSE -->
		var marker = usermap.generateMarker('{MARKER_PATH}/{USERMAP_MARKER}');
		usermap.addMarker(layer_markers, {USERMAP_LON}, {USERMAP_LAT}, '{USERNAME}', marker);
		<!-- ENDIF -->
	}
	$('document').ready(display_map);
	</script>
	<!-- INCLUDEJS @tas2580_usermap/OpenStreetMap.js -->
	<!-- IF GOOGLE_API_KEY -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.5&amp;key={GOOGLE_API_KEY}"></script>
	<!-- ENDIF -->
<!-- ENDIF -->